.headline1,
.display-small {
  font-family: var(--lmdc-sys-typescale-headline1-font);
  font-weight: var(--lmdc-sys-typescale-headline1-weight);
  font-size: var(--lmdc-sys-typescale-headline1-size);
  line-height: var(--lmdc-sys-typescale-headline1-line-height);
  letter-spacing: var(--lmdc-sys-typescale-headline1-tracking);
}
.display3,
.display-medium {
  font-family: var(--lmdc-sys-typescale-display3-font);
  font-weight: var(--lmdc-sys-typescale-display3-weight);
  font-size: var(--lmdc-sys-typescale-display3-size);
  line-height: var(--lmdc-sys-typescale-display3-line-height);
  letter-spacing: var(--lmdc-sys-typescale-display3-tracking);
}
.display2,
.display-large {
  font-family: var(--lmdc-sys-typescale-display2-font);
  font-weight: var(--lmdc-sys-typescale-display2-weight);
  font-size: var(--lmdc-sys-typescale-display2-size);
  line-height: var(--lmdc-sys-typescale-display2-line-height);
  letter-spacing: var(--lmdc-sys-typescale-display2-tracking);
}
.headline4,
.headline-small {
  font-family: var(--lmdc-sys-typescale-headline4-font);
  font-weight: var(--lmdc-sys-typescale-headline4-weight);
  font-size: var(--lmdc-sys-typescale-headline4-size);
  line-height: var(--lmdc-sys-typescale-headline4-line-height);
  letter-spacing: var(--lmdc-sys-typescale-headline4-tracking);
}
.headline3,
.headline-medium {
  font-family: var(--lmdc-sys-typescale-headline3-font);
  font-weight: var(--lmdc-sys-typescale-headline3-weight);
  font-size: var(--lmdc-sys-typescale-headline3-size);
  line-height: var(--lmdc-sys-typescale-headline3-line-height);
  letter-spacing: var(--lmdc-sys-typescale-headline3-tracking);
}
.headline2,
.headline-large {
  font-family: var(--lmdc-sys-typescale-headline2-font);
  font-weight: var(--lmdc-sys-typescale-headline2-weight);
  font-size: var(--lmdc-sys-typescale-headline2-size);
  line-height: var(--lmdc-sys-typescale-headline2-line-height);
  letter-spacing: var(--lmdc-sys-typescale-headline2-tracking);
}
.overline,
.label-medium {
  font-family: var(--lmdc-sys-typescale-overline-font);
  font-weight: var(--lmdc-sys-typescale-overline-weight);
  font-size: var(--lmdc-sys-typescale-overline-size);
  line-height: var(--lmdc-sys-typescale-overline-line-height);
  letter-spacing: var(--lmdc-sys-typescale-overline-tracking);
}
.button,
.label-large {
  font-family: var(--lmdc-sys-typescale-button-font);
  font-weight: var(--lmdc-sys-typescale-button-weight);
  font-size: var(--lmdc-sys-typescale-button-size);
  line-height: var(--lmdc-sys-typescale-button-line-height);
  letter-spacing: var(--lmdc-sys-typescale-button-tracking);
}
.subhead2,
.title-small {
  font-family: var(--lmdc-sys-typescale-subhead2-font);
  font-weight: var(--lmdc-sys-typescale-subhead2-weight);
  font-size: var(--lmdc-sys-typescale-subhead2-size);
  line-height: var(--lmdc-sys-typescale-subhead2-line-height);
  letter-spacing: var(--lmdc-sys-typescale-subhead2-tracking);
}
.subhead1,
.title-medium {
  font-family: var(--lmdc-sys-typescale-subhead1-font);
  font-weight: var(--lmdc-sys-typescale-subhead1-weight);
  font-size: var(--lmdc-sys-typescale-subhead1-size);
  line-height: var(--lmdc-sys-typescale-subhead1-line-height);
  letter-spacing: var(--lmdc-sys-typescale-subhead1-tracking);
}
.headline5,
.title-large {
  font-family: var(--lmdc-sys-typescale-headline5-font);
  font-weight: var(--lmdc-sys-typescale-headline5-weight);
  font-size: var(--lmdc-sys-typescale-headline5-size);
  line-height: var(--lmdc-sys-typescale-headline5-line-height);
  letter-spacing: var(--lmdc-sys-typescale-headline5-tracking);
}
.caption,
.body-small {
  font-family: var(--lmdc-sys-typescale-caption-font);
  font-weight: var(--lmdc-sys-typescale-caption-weight);
  font-size: var(--lmdc-sys-typescale-caption-size);
  line-height: var(--lmdc-sys-typescale-caption-line-height);
  letter-spacing: var(--lmdc-sys-typescale-caption-tracking);
}
.body2,
.body-medium {
  font-family: var(--lmdc-sys-typescale-body2-font);
  font-weight: var(--lmdc-sys-typescale-body2-weight);
  font-size: var(--lmdc-sys-typescale-body2-size);
  line-height: var(--lmdc-sys-typescale-body2-line-height);
  letter-spacing: var(--lmdc-sys-typescale-body2-tracking);
}
.body1,
.body-large {
  font-family: var(--lmdc-sys-typescale-body1-font);
  font-weight: var(--lmdc-sys-typescale-body1-weight);
  font-size: var(--lmdc-sys-typescale-body1-size);
  line-height: var(--lmdc-sys-typescale-body1-line-height);
  letter-spacing: var(--lmdc-sys-typescale-body1-tracking);
}

.lmdc-theme {
  --lmdc-sys-typescale-headline1-font: Roboto;
  --lmdc-sys-typescale-headline1-weight: Regular;
  --lmdc-sys-typescale-headline1-size: 36px;
  --lmdc-sys-typescale-headline1-line-height: 44px;
  --lmdc-sys-typescale-headline1-tracking: 0px;
  --lmdc-sys-typescale-display3-font: Roboto;
  --lmdc-sys-typescale-display3-weight: Regular;
  --lmdc-sys-typescale-display3-size: 45px;
  --lmdc-sys-typescale-display3-line-height: 52px;
  --lmdc-sys-typescale-display3-tracking: 0px;
  --lmdc-sys-typescale-display2-font: Roboto;
  --lmdc-sys-typescale-display2-weight: Regular;
  --lmdc-sys-typescale-display2-size: 57px;
  --lmdc-sys-typescale-display2-line-height: 64px;
  --lmdc-sys-typescale-display2-tracking: -0.25px;
  --lmdc-sys-typescale-headline4-font: Roboto;
  --lmdc-sys-typescale-headline4-weight: Regular;
  --lmdc-sys-typescale-headline4-size: 24px;
  --lmdc-sys-typescale-headline4-line-height: 32px;
  --lmdc-sys-typescale-headline4-tracking: 0px;
  --lmdc-sys-typescale-headline3-font: Roboto;
  --lmdc-sys-typescale-headline3-weight: Regular;
  --lmdc-sys-typescale-headline3-size: 28px;
  --lmdc-sys-typescale-headline3-line-height: 36px;
  --lmdc-sys-typescale-headline3-tracking: 0px;
  --lmdc-sys-typescale-headline2-font: Roboto;
	--lmdc-sys-button-outline-border-radius: 4px;
  --lmdc-sys-typescale-headline2-weight: Regular;
  --lmdc-sys-typescale-headline2-size: 32px;
  --lmdc-sys-typescale-headline2-line-height: 40px;
  --lmdc-sys-typescale-headline2-tracking: 0px;
  --lmdc-sys-typescale-overline-font: Roboto;
  --lmdc-sys-typescale-overline-weight: Medium;
  --lmdc-sys-typescale-overline-size: 12px;
  --lmdc-sys-typescale-overline-line-height: 16px;
  --lmdc-sys-typescale-overline-tracking: 0.5px;
  --lmdc-sys-typescale-button-font: Roboto;
  --lmdc-sys-typescale-button-weight: Medium;
  --lmdc-sys-typescale-button-size: 14px;
  --lmdc-sys-typescale-button-line-height: 20px;
  --lmdc-sys-typescale-button-tracking: 0.10000000149011612px;
  --lmdc-sys-typescale-subhead2-font: Roboto;
  --lmdc-sys-typescale-subhead2-weight: Medium;
  --lmdc-sys-typescale-subhead2-size: 14px;
  --lmdc-sys-typescale-subhead2-line-height: 20px;
  --lmdc-sys-typescale-subhead2-tracking: 0.10000000149011612px;
  --lmdc-sys-typescale-subhead1-font: Roboto;
  --lmdc-sys-typescale-subhead1-weight: Medium;
  --lmdc-sys-typescale-subhead1-size: 16px;
  --lmdc-sys-typescale-subhead1-line-height: 24px;
  --lmdc-sys-typescale-subhead1-tracking: 0.15000000596046448px;
  --lmdc-sys-typescale-headline5-font: Roboto;
  --lmdc-sys-typescale-headline5-weight: Regular;
  --lmdc-sys-typescale-headline5-size: 22px;
  --lmdc-sys-typescale-headline5-line-height: 28px;
  --lmdc-sys-typescale-headline5-tracking: 0px;
  --lmdc-sys-typescale-caption-font: Roboto;
  --lmdc-sys-typescale-caption-weight: Regular;
  --lmdc-sys-typescale-caption-size: 12px;
  --lmdc-sys-typescale-caption-line-height: 16px;
  --lmdc-sys-typescale-caption-tracking: 0.4000000059604645px;
  --lmdc-sys-typescale-body2-font: Roboto;
  --lmdc-sys-typescale-body2-weight: Regular;
  --lmdc-sys-typescale-body2-size: 14px;
  --lmdc-sys-typescale-body2-line-height: 20px;
  --lmdc-sys-typescale-body2-tracking: 0.25px;
  --lmdc-sys-typescale-body1-font: Roboto;
  --lmdc-sys-typescale-body1-weight: Regular;
  --lmdc-sys-typescale-body1-size: 16px;
  --lmdc-sys-typescale-body1-line-height: 24px;
  --lmdc-sys-typescale-body1-tracking: 0.5px;
  --lmdc-sys-color-primary-light: #2951d6;
  --lmdc-sys-color-hover-state: rgba(41, 81, 214, 0.12);
  --lmdc-sys-color-on-primary-light: #ffffff;
  --lmdc-sys-color-primary-container-light: #dde1ff;
  --lmdc-sys-color-on-primary-container-light: #001453;
  --lmdc-sys-color-secondary-light: #5a5d72;
  --lmdc-sys-color-on-secondary-light: #ffffff;
  --lmdc-sys-color-secondary-container-light: #dee1f9;
  --lmdc-sys-color-on-secondary-container-light: #171b2c;
  --lmdc-sys-color-tertiary-light: #75546f;
  --lmdc-sys-color-on-tertiary-light: #ffffff;
  --lmdc-sys-color-tertiary-container-light: #ffd7f4;
  --lmdc-sys-color-on-tertiary-container-light: #2c1229;
  --lmdc-sys-color-error-light: #ba1a1a;
  --lmdc-sys-color-on-error-light: #ffffff;
  --lmdc-sys-color-error-container-light: #ffdad6;
  --lmdc-sys-color-on-error-container-light: #410002;
  --lmdc-sys-color-outline-light: #dce3f9;
  --lmdc-sys-color-background-light: #fefbff;
  --lmdc-sys-color-on-background-light: #1b1b1f;
  --lmdc-sys-color-surface-light: #fefbff;
  --lmdc-sys-color-on-surface-light: #1b1b1f;
  --lmdc-sys-color-surface-variant-light: #e2e1ec;
  --lmdc-sys-color-on-surface-variant-light: #45464f;
  --lmdc-sys-color-inverse-surface-light: #303034;
  --lmdc-sys-color-inverse-on-surface-light: #f2f0f4;
  --lmdc-sys-color-primary-dark: #b8c4ff;
  --lmdc-sys-color-on-primary-dark: #002584;
  --lmdc-sys-color-primary-container-dark: #0037b9;
  --lmdc-sys-color-on-primary-container-dark: #dde1ff;
  --lmdc-sys-color-secondary-dark: #c2c5dd;
  --lmdc-sys-color-on-secondary-dark: #2c2f42;
  --lmdc-sys-color-secondary-container-dark: #424659;
  --lmdc-sys-color-on-secondary-container-dark: #dee1f9;
  --lmdc-sys-color-tertiary-dark: #e4bad9;
  --lmdc-sys-color-on-tertiary-dark: #43273f;
  --lmdc-sys-color-tertiary-container-dark: #5c3d56;
  --lmdc-sys-color-on-tertiary-container-dark: #ffd7f4;
  --lmdc-sys-color-error-dark: #ffb4ab;
  --lmdc-sys-color-on-error-dark: #690005;
  --lmdc-sys-color-error-container-dark: #93000a;
  --lmdc-sys-color-on-error-container-dark: #ffdad6;
  --lmdc-sys-color-outline-dark: #90909a;
  --lmdc-sys-color-background-dark: #1b1b1f;
  --lmdc-sys-color-on-background-dark: #e4e1e6;
  --lmdc-sys-color-surface-dark: #1b1b1f;
  --lmdc-sys-color-on-surface-dark: #e4e1e6;
  --lmdc-sys-color-surface-variant-dark: #45464f;
  --lmdc-sys-color-on-surface-variant-dark: #c6c5d0;
  --lmdc-sys-color-inverse-surface-dark: #e4e1e6;
  --lmdc-sys-color-inverse-on-surface-dark: #1b1b1f;
}
@media (prefers-color-scheme: light) {
  .lmdc-theme {
    --lmdc-sys-color-primary: var(--lmdc-sys-color-primary-light);
    --lmdc-sys-color-on-primary: var(--lmdc-sys-color-on-primary-light);
    --lmdc-sys-color-primary-container: var(
      --lmdc-sys-color-primary-container-light
    );
    --lmdc-sys-color-on-primary-container: var(
      --lmdc-sys-color-on-primary-container-light
    );
    --lmdc-sys-color-secondary: var(--lmdc-sys-color-secondary-light);
    --lmdc-sys-color-on-secondary: var(--lmdc-sys-color-on-secondary-light);
    --lmdc-sys-color-secondary-container: var(
      --lmdc-sys-color-secondary-container-light
    );
    --lmdc-sys-color-on-secondary-container: var(
      --lmdc-sys-color-on-secondary-container-light
    );
    --lmdc-sys-color-tertiary: var(--lmdc-sys-color-tertiary-light);
    --lmdc-sys-color-on-tertiary: var(--lmdc-sys-color-on-tertiary-light);
    --lmdc-sys-color-tertiary-container: var(
      --lmdc-sys-color-tertiary-container-light
    );
    --lmdc-sys-color-on-tertiary-container: var(
      --lmdc-sys-color-on-tertiary-container-light
    );
    --lmdc-sys-color-error: var(--lmdc-sys-color-error-light);
    --lmdc-sys-color-on-error: var(--lmdc-sys-color-on-error-light);
    --lmdc-sys-color-error-container: var(
      --lmdc-sys-color-error-container-light
    );
    --lmdc-sys-color-on-error-container: var(
      --lmdc-sys-color-on-error-container-light
    );
    --lmdc-sys-color-outline: var(--lmdc-sys-color-outline-light);
    --lmdc-sys-color-background: var(--lmdc-sys-color-background-light);
    --lmdc-sys-color-on-background: var(--lmdc-sys-color-on-background-light);
    --lmdc-sys-color-surface: var(--lmdc-sys-color-surface-light);
    --lmdc-sys-color-on-surface: var(--lmdc-sys-color-on-surface-light);
    --lmdc-sys-color-surface-variant: var(
      --lmdc-sys-color-surface-variant-light
    );
    --lmdc-sys-color-on-surface-variant: var(
      --lmdc-sys-color-on-surface-variant-light
    );
    --lmdc-sys-color-inverse-surface: var(
      --lmdc-sys-color-inverse-surface-light
    );
    --lmdc-sys-color-inverse-on-surface: var(
      --lmdc-sys-color-inverse-on-surface-light
    );
  }
  .lmdc-dark-theme {
    --lmdc-sys-color-primary: var(--lmdc-sys-color-primary-dark);
    --lmdc-sys-color-on-primary: var(--lmdc-sys-color-on-primary-dark);
    --lmdc-sys-color-primary-container: var(
      --lmdc-sys-color-primary-container-dark
    );
    --lmdc-sys-color-on-primary-container: var(
      --lmdc-sys-color-on-primary-container-dark
    );
    --lmdc-sys-color-secondary: var(--lmdc-sys-color-secondary-dark);
    --lmdc-sys-color-on-secondary: var(--lmdc-sys-color-on-secondary-dark);
    --lmdc-sys-color-secondary-container: var(
      --lmdc-sys-color-secondary-container-dark
    );
    --lmdc-sys-color-on-secondary-container: var(
      --lmdc-sys-color-on-secondary-container-dark
    );
    --lmdc-sys-color-tertiary: var(--lmdc-sys-color-tertiary-dark);
    --lmdc-sys-color-on-tertiary: var(--lmdc-sys-color-on-tertiary-dark);
    --lmdc-sys-color-tertiary-container: var(
      --lmdc-sys-color-tertiary-container-dark
    );
    --lmdc-sys-color-on-tertiary-container: var(
      --lmdc-sys-color-on-tertiary-container-dark
    );
    --lmdc-sys-color-error: var(--lmdc-sys-color-error-dark);
    --lmdc-sys-color-on-error: var(--lmdc-sys-color-on-error-dark);
    --lmdc-sys-color-error-container: var(
      --lmdc-sys-color-error-container-dark
    );
    --lmdc-sys-color-on-error-container: var(
      --lmdc-sys-color-on-error-container-dark
    );
    --lmdc-sys-color-outline: var(--lmdc-sys-color-outline-dark);
    --lmdc-sys-color-background: var(--lmdc-sys-color-background-dark);
    --lmdc-sys-color-on-background: var(--lmdc-sys-color-on-background-dark);
    --lmdc-sys-color-surface: var(--lmdc-sys-color-surface-dark);
    --lmdc-sys-color-on-surface: var(--lmdc-sys-color-on-surface-dark);
    --lmdc-sys-color-surface-variant: var(
      --lmdc-sys-color-surface-variant-dark
    );
    --lmdc-sys-color-on-surface-variant: var(
      --lmdc-sys-color-on-surface-variant-dark
    );
    --lmdc-sys-color-inverse-surface: var(
      --lmdc-sys-color-inverse-surface-dark
    );
    --lmdc-sys-color-inverse-on-surface: var(
      --lmdc-sys-color-inverse-on-surface-dark
    );
  }
}
@media (prefers-color-scheme: dark) {
  .lmdc-theme {
    --lmdc-sys-color-primary: var(--lmdc-sys-color-primary-dark);
    --lmdc-sys-color-on-primary: var(--lmdc-sys-color-on-primary-dark);
    --lmdc-sys-color-primary-container: var(
      --lmdc-sys-color-primary-container-dark
    );
    --lmdc-sys-color-on-primary-container: var(
      --lmdc-sys-color-on-primary-container-dark
    );
    --lmdc-sys-color-secondary: var(--lmdc-sys-color-secondary-dark);
    --lmdc-sys-color-on-secondary: var(--lmdc-sys-color-on-secondary-dark);
    --lmdc-sys-color-secondary-container: var(
      --lmdc-sys-color-secondary-container-dark
    );
    --lmdc-sys-color-on-secondary-container: var(
      --lmdc-sys-color-on-secondary-container-dark
    );
    --lmdc-sys-color-tertiary: var(--lmdc-sys-color-tertiary-dark);
    --lmdc-sys-color-on-tertiary: var(--lmdc-sys-color-on-tertiary-dark);
    --lmdc-sys-color-tertiary-container: var(
      --lmdc-sys-color-tertiary-container-dark
    );
    --lmdc-sys-color-on-tertiary-container: var(
      --lmdc-sys-color-on-tertiary-container-dark
    );
    --lmdc-sys-color-error: var(--lmdc-sys-color-error-dark);
    --lmdc-sys-color-on-error: var(--lmdc-sys-color-on-error-dark);
    --lmdc-sys-color-error-container: var(
      --lmdc-sys-color-error-container-dark
    );
    --lmdc-sys-color-on-error-container: var(
      --lmdc-sys-color-on-error-container-dark
    );
    --lmdc-sys-color-outline: var(--lmdc-sys-color-outline-dark);
    --lmdc-sys-color-background: var(--lmdc-sys-color-background-dark);
    --lmdc-sys-color-on-background: var(--lmdc-sys-color-on-background-dark);
    --lmdc-sys-color-surface: var(--lmdc-sys-color-surface-dark);
    --lmdc-sys-color-on-surface: var(--lmdc-sys-color-on-surface-dark);
    --lmdc-sys-color-surface-variant: var(
      --lmdc-sys-color-surface-variant-dark
    );
    --lmdc-sys-color-on-surface-variant: var(
      --lmdc-sys-color-on-surface-variant-dark
    );
    --lmdc-sys-color-inverse-surface: var(
      --lmdc-sys-color-inverse-surface-dark
    );
    --lmdc-sys-color-inverse-on-surface: var(
      --lmdc-sys-color-inverse-on-surface-dark
    );
  }
  .lmdc-light-theme {
    --lmdc-sys-color-primary: var(--lmdc-sys-color-primary-light);
    --lmdc-sys-color-on-primary: var(--lmdc-sys-color-on-primary-light);
    --lmdc-sys-color-primary-container: var(
      --lmdc-sys-color-primary-container-light
    );
    --lmdc-sys-color-on-primary-container: var(
      --lmdc-sys-color-on-primary-container-light
    );
    --lmdc-sys-color-secondary: var(--lmdc-sys-color-secondary-light);
    --lmdc-sys-color-on-secondary: var(--lmdc-sys-color-on-secondary-light);
    --lmdc-sys-color-secondary-container: var(
      --lmdc-sys-color-secondary-container-light
    );
    --lmdc-sys-color-on-secondary-container: var(
      --lmdc-sys-color-on-secondary-container-light
    );
    --lmdc-sys-color-tertiary: var(--lmdc-sys-color-tertiary-light);
    --lmdc-sys-color-on-tertiary: var(--lmdc-sys-color-on-tertiary-light);
    --lmdc-sys-color-tertiary-container: var(
      --lmdc-sys-color-tertiary-container-light
    );
    --lmdc-sys-color-on-tertiary-container: var(
      --lmdc-sys-color-on-tertiary-container-light
    );
    --lmdc-sys-color-error: var(--lmdc-sys-color-error-light);
    --lmdc-sys-color-on-error: var(--lmdc-sys-color-on-error-light);
    --lmdc-sys-color-error-container: var(
      --lmdc-sys-color-error-container-light
    );
    --lmdc-sys-color-on-error-container: var(
      --lmdc-sys-color-on-error-container-light
    );
    --lmdc-sys-color-outline: var(--lmdc-sys-color-outline-light);
    --lmdc-sys-color-background: var(--lmdc-sys-color-background-light);
    --lmdc-sys-color-on-background: var(--lmdc-sys-color-on-background-light);
    --lmdc-sys-color-surface: var(--lmdc-sys-color-surface-light);
    --lmdc-sys-color-on-surface: var(--lmdc-sys-color-on-surface-light);
    --lmdc-sys-color-surface-variant: var(
      --lmdc-sys-color-surface-variant-light
    );
    --lmdc-sys-color-on-surface-variant: var(
      --lmdc-sys-color-on-surface-variant-light
    );
    --lmdc-sys-color-inverse-surface: var(
      --lmdc-sys-color-inverse-surface-light
    );
    --lmdc-sys-color-inverse-on-surface: var(
      --lmdc-sys-color-inverse-on-surface-light
    );
  }
}

