@use "sass:map";
@use "sass:color";
@use './button.base' as button;
@import './../theme/theme';

@function define-palette($palette) {
  @return (primary: map.get($palette, primary), accent: map.get($palette, accent));
}


.lmdc-button {
  

 @include  button.base();
  
 
 
  &[data-size="normal"] {
    font-size: 0.875rem;
    font-weight: 500;


  }

  &[data-size="small"] {
    font-size: 0.8rem;
    font-weight: 500;
   
    padding: 8px 22px;
  }
}


/**
  $palette: primary, accent
  $config: border-radius, border-width, line-height, padding
*/
@mixin theme($theme) {
  $config: define-palette($theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $color: contrast($primary);
  
 
  .lmdc-primary {
    background-color: $primary;
    color: $color;

  } 

  .lmdc-accent {
    background-color: $accent;
  }

  @content
}

/**
sets the density and size of the button
*/
@mixin density($scaffold) {



  .lmdc-button {
    border-radius: map.get($scaffold, border-radius);;
    border-width: map.get($scaffold, border-width);
    border-color: map.get($scaffold, border-radius);
    line-height: map.get($scaffold, line-height);
    padding: map.get($scaffold, padding);
  }
  
  
}


@function contrast($background) {
  // $r: (max(red(#FFF), red($background))) - (min(red(#FFF), red($background)));
  // $g: (max(green(#FFF), green($background))) - (min(green(#FFF), green($background)));
  // $b: (max(blue(#FFF), blue($background))) - (min(blue(#FFF), blue($background)));
  // $sum-rgb: $r + $g + $b;

  $sum-rgb: 0.2126 * red($background) + 0.7152 * green($background) + 0.0772 * blue($background);
  @debug $sum-rgb;
  @if $sum-rgb < 100 {
    @return #fff;
  } @else {
    @return #000;
  }

}