$padding: 0 16px !default;
$margin: 0 !default;
$border-radius: 4px !default;

$line-height: 24px !default;

@mixin base() {
  box-sizing: border-box;
  position: relative;
  border: none;
  display: inline-block;
  cursor: pointer;
  line-height: $line-height;
  border-radius: var(--lmdc-sys-button-outline-border-radius);
  margin: $margin;
  padding: $padding;
  min-height: 40px;


}