/* You can add global styles to this file, and also import other style files */
@use './../projects/components/index' as lmdc-core;





 
.terrarium {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;

}


.terrarium > * {
  margin: 16px 0;
}


